.all-items-container {
  height: 880px;
  width:100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

//  if you want to i can make it responsive guys, just let me know :)
